
form button{
    transition: transform 500ms;
}

form button:active{
    transition: transform 500ms;
    transform: translateY(1rem) scale(0.9);
    background: linear-gradient(to right, #fbf309,  #cac406)
}